{% extends 'base transaction.html' %}
{% block content %}
    <center>
      <table >
        <caption><h2 class="itemsdata"><b class="itemsfont"> {{page_title}}</b></h2></caption>
        <thead>
          <tr>
            <td>code</td>
            <td>date</td>
            <td>move number</td>
            <td>notes</td>
            <td>storage</td>
            <td>supplier</td>
            <td>customer</td>
            <td>add details</td>
          </tr>
        </thead>
        <tbody>
            {% for m in data %}
            <tr class="code" >
              <td text-align="center"><a class="button"  href="{% url 'detail-in' m.master_in_id %}">{{ m.master_in_code }}</a></td>
              <td text-align="center">{{ m.master_in_date }}</td>
              <td text-align="center">{{ m.master_in_movenumber }}</td>
              <td text-align="center">{{ m.master_in_notes }}</td>
              <td text-align="center">{{ m.Storage_id.storage_name}}</td>
              <td text-align="center">{{ m.Supplier_id.supplier_name }}</td>
              <td text-align="center">{{ m.Customer_id.customer_name }}</td>
              <td text-align="center"><a href="{% url 'add-detail-in' m.master_in_id  %}"> <button>Add Details</button></a></td>
            {% endfor %}
            </tr>
        </tbody>
      </table>      
    </center>
{% endblock %}