<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ma5azen</title>
    
    {% load static %}<link rel="stylesheet" href="{% static '/m.css' %}">
    <!-- {% load static %}<link rel="stylesheet" href="{% static '/setup.css' %}"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
    {% load static %}<link rel="icon" href="{% static '/imgs/logoo.png' %}" type="image/x-icon">
</head>
<body>
  {% if user.is_authenticated %}
  <div class="menu-bar">
    {% load static %}<a class="logo" href="{% url 'home-page' %}"><img class="logo" src="{% static 'imgs/logoo.png'%}" alt=""></a>
    <div class="logout"> <a  class="logout-bottom" href="{% url 'logout' %}"> log out</a></div>
  {% endif %}
      <ul class="position">
          <li><a href="#">Data Section</a>
              <div class="sub-menu-1">
                  <ul>
                      <li><a class="" href="{% url 'storage-data'%}" >Storage</a></li>
                      <li><a class="" href="{% url 'supplier-data'%}" >Supplier</a></li>
                      <li><a class="" href="{% url 'customer-data'%}" >Customer</a></li>
                      <li><a class="" href="{% url 'item-data'%}" >Item</a></li>
                      <li><a class="" href="{% url 'master-in-data'%}" >Master In</a></li>
                      <li><a class="" href="{% url 'master-out-data'%}" >Master Out</a></li>
                  </ul>
              </div>
          </li>
          <li><a href="#">Reports Section</a>
              <div class="sub-menu-1">
                  <ul>
                      <li><a class="" href="{% url 'suppliers-report'%}" >Suppliers Report</a></li>
                      <li><a class="" href="{% url 'customers-report'%}" >Customers Report</a></li>
                      <li><a class="" href="{% url 'items-report'%}" >Items Report</a></li>
                  </ul>
              </div>
          </li>          
          <li><a href="#">Addition Section</a>
              <div class="sub-menu-1">
                  <ul>
                      <li><a class="" href="{% url 'add-item'%}" >Item </a></li>
                      <li><a class="" href="{% url 'add-storage'%}" >Storage </a></li>
                      <li><a class="" href="{% url 'add-supplier'%}" >Supplier </a></li>
                      <li><a class="" href="{% url 'add-customer'%}" >Customer </a></li>
                      <li><a class="" href="{% url 'add-master-in'%}" >Master-In </a></li>
                      <li><a class="" href="{% url 'add-master-out'%}" >Master-Out </a></li>
                      <li><a class="" href="{% url 'add-detail-in'%}" >Detail-In </a></li>
                      <li><a class="" href="{% url 'add-detail-out'%}" >Detail-Out </a></li>
                      <li><a class="" href="{% url 'cash_in_view'%}" >Cash-Out </a></li>
                  </ul>
              </div>
          </li>
      </ul>
  </div>
    {% block content %}
    {% endblock %}
</body>
</html>