{% extends 'base.html' %}
{% block content %}
    <center>
      <table >
        <caption><h2 class="itemsdata"><b class="itemsfont"> {{page_title}}</b></h2></caption>
        <thead>
          <tr>
            <td>code</td>
            <td>customer name</td>
            <td>customer mobile</td>
          </tr>
        </thead>
        <tbody>
          {% for m in data %}
          <tr>
            <td>{{ m.customer_code }}</td>
            <td>{{ m.customer_name }}</td>
            <td>{{ m.customer_mobile }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      
    </center>
{% endblock %}